<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href = "../static/css/styles.css" rel = "stylesheet"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>Create Todo</title>
</head>
<body>
<div class="container">

    <h2>Create a Todo</h2>
    <hr>
    <form action="#" th:action="@{/todos/save}" th:object="${todo}" method="POST">
        <span class="container-md">
            <label>Username</label>
            <input type="text" th:field="*{userName}" placeholder="Name" class="form-control mb-4 col-4" />
        </span>


        <span class="container-md">
            <label>Description</label>
            <textarea type="text" rows="5" cols="10" th:field="*{description}" placeholder="description" class="form-control mb-4 col-4"> </textarea>
        </span>


        <span class="container-md">
            <label>Is done</label>
            <input type="checkbox" th:field="*{isDone}" class="form-control mb-4 col-4" />
        </span>

        <span class="container-md">
            <label>Phone Number</label>
            <input type="text" th:field="*{phonenumber}" placeholder="Phone Number" class="form-control mb-4 col-4" />
        </span>

        <button type="submit" class="btn btn-info col-2">Save Todo</button>
    </form>

    <hr>

    <a th:href="@{/}"> Back to Todo List</a>
</div>

</body>
</html>