<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href = "../static/css/styles.css" rel = "stylesheet"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>Todo Application</title>
</head>
<body>
<h2> Welcome to Todo </h2>
<a th:href="@{/todos/getTodos?userName=admin}" class="btn btn-primary btn-sm mb-3" >List all Todos</a>
</body>
</html>